<div class="card message__<%= message.direction %>">
  <div class="card-body">
    <div class="sent-by card-title">
      Sent by: <%= message.sender %>
    </div>
    <div class="sent-at card-subtitle">
      Sent at: [<%= message.created_at %>]
    </div>
    <div class="content">
      <p><%= message.body %></p>
    </div>
  </div>
</div>
