<div class="message__<%= message.direction %>">
  <div class="sent-by">
    Sent by: [some person | client]
  </div>
  <div class="sent-at">
    Sent at: [<%= message.created_at %>]
  </div>
  <div class="content">
    <%= message.body %>
  </div>
</div>
