<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5> <p class="card-text">This exercise is
    an excuse to build a minimal case management system, to see whether or not
    it's worth creating the generic case. Want to participate?</p>
    <%= link_to "Contact Us!", new_intake_path, class: 'btn btn-primary' %>
  </div>
</div>
